Use videos, media (pictures, etc.), and interactive options

Address a professional development learning objective

Define precise learning goals

Gather relevant material with examples and scenarios

Design course following Bloom's Taxonomy

Implement knowledge assessment and success measurements




------ By 29th Implement the first lecture with:

A video and multi-choice questions 
2 case studies regarding the first part (gamma slides into lia)
Specific learning goal for that part  
Steps according to Bloom's Taxonomy
Add some assessment way
